<header>
    <div class="header customHeader">
        <div class="container">
            <div class="innerheader">
                <div class="logoBox" style="height: 25px;">
                    <a id="headerLogoId" tabindex="0" title="Logo" class="customerLogo CustomHeaderLogo" href="javascript: void(0)">
                    </a>
                </div>
                <div class="helpBtn">
                    <a title="Read a help article" href="Making-a-booking-FAQs.pdf" target="_blank" class="HelpLink ng-binding">Help</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="main-content"></div>
    </div>
</main>
<footer>
    <div class="footer customHeader">
        <div class="container">
            <div class="copyright">
                <!-- <a href="Making-a-booking-FAQs.pdf" target="_blank" class="HelpLink ng-binding">Help</a> -->
                <p class="footerCopyright ng-binding" ng-bind-html="updateFooter()">Copyright <a target="_blank" href="http://www.scheduleonce.com/scheduleonce/landing/teams?utm_source=scheduleonce&amp;utm_medium=booking_page&amp;utm_campaign=teams_qa&amp;utm_term=oncehub&amp;utm_content=oncehubcw">OnceHub</a> 2021. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>